/* linear */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

html {
  font-family: Open Sans;
  font-size: 10px;
  line-height: 10px;
}

body {
  background-color: black;
  z-index: 0;
}

a {
  text-decoration: none;
}

.hide {
  display: none !important;
}

.main-container {
  z-index: 0;
  background-image: url("/src/img/bg-1-1.png");
  height: 5%;
  transition: all 200ms cubic-bezier(0.25, 0.25, 0.75, 0.75) !important;
  overflow: hidden;
  -webkit-animation: main-bg-fx 15s infinite linear;
          animation: main-bg-fx 15s infinite linear;
}
@-webkit-keyframes main-bg-fx {
  from {
    background-size: calc((100vw - 480px) / 800 * 8 + 12000px);
    background-position-x: -700px;
    background-position-y: -100px;
  }
  50% {
    background-size: calc((100vw - 480px) / 800 * 8 + 10000px);
    background-position-x: 50px;
    background-position-y: 50px;
  }
  to {
    background-size: calc((100vw - 480px) / 800 * 8 + 12000px);
    background-position-x: -700px;
    background-position-y: -100px;
  }
}
@keyframes main-bg-fx {
  from {
    background-size: calc((100vw - 480px) / 800 * 8 + 12000px);
    background-position-x: -700px;
    background-position-y: -100px;
  }
  50% {
    background-size: calc((100vw - 480px) / 800 * 8 + 10000px);
    background-position-x: 50px;
    background-position-y: 50px;
  }
  to {
    background-size: calc((100vw - 480px) / 800 * 8 + 12000px);
    background-position-x: -700px;
    background-position-y: -100px;
  }
}
.main-container__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.main-container__title-1 {
  margin: 100px 0 0 0;
  text-align: center;
  font-size: 1.9rem;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  text-shadow: 0px 1px 20px rgba(0, 0, 0, 0.2);
}
.main-container__title {
  z-index: 3;
  margin: 0 0 250px 0;
  text-align: center;
  font-size: 1rem;
  line-height: 5rem;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  text-shadow: 0px 1px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.4285714286);
}
.main-container__menu-button {
  position: absolute;
  right: 98%;
  bottom: 94%;
  width: 20px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.main-container .pop-button {
  margin-bottom: 2px;
  width: 7px;
  height: 7px;
  border: none;
  outline: none;
  color: #fff;
  background: #fffae8;
  position: relative;
  border-radius: 60px;
  transition: all 200ms cubic-bezier(0.25, 0.25, 0.75, 0.75) !important;
  -webkit-animation: pop-btn 2.5s infinite ease-in-out;
          animation: pop-btn 2.5s infinite ease-in-out;
}
@-webkit-keyframes pop-btn {
  from {
    box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.1);
  }
  15% {
    box-shadow: 0px 1px 10px white;
  }
  95% {
    box-shadow: 0px 1px 10px rgba(94, 55, 11, 0.3);
  }
  to {
    box-shadow: 0px 1px 10px rgba(255, 255, 255, 0);
  }
}
@keyframes pop-btn {
  from {
    box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.1);
  }
  15% {
    box-shadow: 0px 1px 10px white;
  }
  95% {
    box-shadow: 0px 1px 10px rgba(94, 55, 11, 0.3);
  }
  to {
    box-shadow: 0px 1px 10px rgba(255, 255, 255, 0);
  }
}

.header {
  z-index: 3;
}
.header__wrapper {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: seashell;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}
.header__link-block {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__link {
  margin: 0 25px 0 25px;
  max-width: 150px;
  text-align: center;
  font-size: 1.3rem;
  line-height: 2.2rem;
  color: rgb(82, 42, 7);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95) !important;
}
.header__link:hover {
  transform: scale(1.2);
}

.def-button {
  margin: 40px 0 0 0;
  z-index: 4;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  background: #fffae8;
  cursor: pointer;
  position: relative;
  border-radius: 60px;
  transition: all 200ms cubic-bezier(0.25, 0.25, 0.75, 0.75) !important;
  -webkit-animation: shadow 2s infinite ease-in-out;
          animation: shadow 2s infinite ease-in-out;
}
@-webkit-keyframes shadow {
  from {
    box-shadow: 0px 8px 90px rgba(255, 255, 255, 0.1);
  }
  15% {
    box-shadow: 2px 2px 60px white;
  }
  95% {
    box-shadow: 0px 5px 50px rgba(94, 55, 11, 0.3);
  }
  to {
    box-shadow: 0px 8px 90px rgba(255, 255, 255, 0);
  }
}
@keyframes shadow {
  from {
    box-shadow: 0px 8px 90px rgba(255, 255, 255, 0.1);
  }
  15% {
    box-shadow: 2px 2px 60px white;
  }
  95% {
    box-shadow: 0px 5px 50px rgba(94, 55, 11, 0.3);
  }
  to {
    box-shadow: 0px 8px 90px rgba(255, 255, 255, 0);
  }
}
.def-button:hover {
  -webkit-animation: button-scale 1s infinite ease-in-out;
          animation: button-scale 1s infinite ease-in-out;
}
@-webkit-keyframes button-scale {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes button-scale {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.def-button:before {
  content: "";
  background: linear-gradient(45deg, #ff7676, #ffb579, #bf84ff, #ff85e5, #ff7d7d);
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: 400%;
  z-index: 4;
  filter: blur(2px);
  width: 36px;
  height: 36px;
  -webkit-animation: glowing 20s linear infinite;
          animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 60px;
}
.def-button:active {
  color: rgb(255, 255, 255);
}
.def-button:active:after {
  background: #fffae8;
}
.def-button:hover:before {
  opacity: 1;
}
.def-button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: #fffae8;
  left: 0;
  top: 0;
  border-radius: 60px;
}
@-webkit-keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-about {
  position: absolute;
  margin: 25% 0 0 0%;
}

.clouds {
  position: relative;
  z-index: 3;
  filter: brightness(0.99);
}

.cloud-1 {
  z-index: 1;
  position: absolute;
  top: 50px;
  right: 700px;
  scale: 0.5;
  transition: all 100ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -webkit-animation: cloud-1-Move 20s infinite linear;
          animation: cloud-1-Move 20s infinite linear;
}
@-webkit-keyframes cloud-1-Move {
  from {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    transform: scale3d(0.9, 0.9, 0.9);
  }
}
@keyframes cloud-1-Move {
  from {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    transform: scale3d(0.9, 0.9, 0.9);
  }
}

.cloud-2 {
  z-index: 1;
  position: absolute;
  top: 0px;
  right: -200px;
  scale: 0.6;
  transition: all 100ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -webkit-animation: cloud-2-Move 20s infinite linear;
          animation: cloud-2-Move 20s infinite linear;
}
@-webkit-keyframes cloud-2-Move {
  from {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    transform: scale3d(0.9, 0.9, 0.9);
  }
}
@keyframes cloud-2-Move {
  from {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    transform: scale3d(0.9, 0.9, 0.9);
  }
}

.cloud-3 {
  z-index: 1;
  position: absolute;
  top: 0px;
  right: -700px;
  scale: 0.5;
  transition: all 100ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -webkit-animation: cloud-3-Move 20s infinite linear;
          animation: cloud-3-Move 20s infinite linear;
}
@-webkit-keyframes cloud-3-Move {
  from {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    transform: scale3d(0.9, 0.9, 0.9);
  }
}
@keyframes cloud-3-Move {
  from {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    transform: scale3d(0.9, 0.9, 0.9);
  }
}

.cloud-4 {
  z-index: 1;
  position: absolute;
  top: 50px;
  right: -600px;
  scale: 0.8;
  transition: all 100ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -webkit-animation: cloud-4-Move 20s infinite linear;
          animation: cloud-4-Move 20s infinite linear;
}
@-webkit-keyframes cloud-4-Move {
  from {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    transform: scale3d(0.9, 0.9, 0.9);
  }
}
@keyframes cloud-4-Move {
  from {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    transform: scale3d(0.9, 0.9, 0.9);
  }
}

.cloud-5 {
  z-index: 1;
  position: absolute;
  top: 0px;
  right: 300px;
  scale: 1;
  transition: all 100ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -webkit-animation: cloud-5-Move 20s infinite linear;
          animation: cloud-5-Move 20s infinite linear;
}
@-webkit-keyframes cloud-5-Move {
  from {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    transform: scale3d(0.9, 0.9, 0.9);
  }
}
@keyframes cloud-5-Move {
  from {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    transform: scale3d(0.9, 0.9, 0.9);
  }
}

.cloud-6 {
  z-index: 1;
  position: absolute;
  top: 40px;
  right: -600px;
  scale: 0.7;
  transition: all 100ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -webkit-animation: cloud-6-Move 20s infinite linear;
          animation: cloud-6-Move 20s infinite linear;
}
@-webkit-keyframes cloud-6-Move {
  from {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    transform: scale3d(0.9, 0.9, 0.9);
  }
}
@keyframes cloud-6-Move {
  from {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    transform: scale3d(0.9, 0.9, 0.9);
  }
}

.cloud-7 {
  z-index: 1;
  position: absolute;
  top: 20px;
  right: 700px;
  scale: 0.7;
  transition: all 100ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -webkit-animation: cloud-7-Move 20s infinite linear;
          animation: cloud-7-Move 20s infinite linear;
}
@-webkit-keyframes cloud-7-Move {
  from {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    transform: scale3d(0.9, 0.9, 0.9);
  }
}
@keyframes cloud-7-Move {
  from {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    transform: scale3d(0.9, 0.9, 0.9);
  }
}

.cloud-8 {
  z-index: 0;
  position: absolute;
  top: 0px;
  right: 100px;
  scale: 0.6;
  transition: all 100ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -webkit-animation: cloud-8-Move 20s infinite linear;
          animation: cloud-8-Move 20s infinite linear;
}
@-webkit-keyframes cloud-8-Move {
  from {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    transform: scale3d(0.9, 0.9, 0.9);
  }
}
@keyframes cloud-8-Move {
  from {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    transform: scale3d(0.9, 0.9, 0.9);
  }
}

.cloud-9 {
  z-index: 1;
  position: absolute;
  top: 0px;
  right: 900px;
  scale: 0.6;
  transition: all 100ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -webkit-animation: cloud-9-Move 20s infinite linear;
          animation: cloud-9-Move 20s infinite linear;
}
@-webkit-keyframes cloud-9-Move {
  from {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    transform: scale3d(0.9, 0.9, 0.9);
  }
}
@keyframes cloud-9-Move {
  from {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    transform: scale3d(0.9, 0.9, 0.9);
  }
}

.cloud-10 {
  z-index: 1;
  position: absolute;
  top: 20px;
  right: 400px;
  scale: 0.4;
  transition: all 100ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -webkit-animation: cloud-10-Move 20s infinite linear;
          animation: cloud-10-Move 20s infinite linear;
}
@-webkit-keyframes cloud-10-Move {
  from {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    transform: scale3d(0.9, 0.9, 0.9);
  }
}
@keyframes cloud-10-Move {
  from {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    transform: scale3d(0.9, 0.9, 0.9);
  }
}

.clouds-designs__cloud-1 {
  z-index: 1;
  position: absolute;
  top: 600px;
  scale: 0.08;
  transition: all 100ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -webkit-animation: cloud-designs-Move1 200s infinite linear;
          animation: cloud-designs-Move1 200s infinite linear;
}
@-webkit-keyframes cloud-designs-Move1 {
  from {
    right: -100px;
  }
  50% {
    right: -400px;
  }
  to {
    right: -100px;
  }
}
@keyframes cloud-designs-Move1 {
  from {
    right: -100px;
  }
  50% {
    right: -400px;
  }
  to {
    right: -100px;
  }
}
.clouds-designs__cloud-2 {
  z-index: 1;
  position: absolute;
  margin: 0 0 10% 0;
  scale: 0.38;
  transition: all 100ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -webkit-animation: cloud-designs-Move2 200s infinite linear;
          animation: cloud-designs-Move2 200s infinite linear;
}
@-webkit-keyframes cloud-designs-Move2 {
  from {
    right: 600px;
  }
  50% {
    right: -300px;
  }
  to {
    right: 600px;
  }
}
@keyframes cloud-designs-Move2 {
  from {
    right: 600px;
  }
  50% {
    right: -300px;
  }
  to {
    right: 600px;
  }
}
.clouds-designs__cloud-3 {
  z-index: 1;
  position: absolute;
  scale: 0.18;
  transition: all 100ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -webkit-animation: cloud-designs-Move3 200s infinite linear;
          animation: cloud-designs-Move3 200s infinite linear;
}
@-webkit-keyframes cloud-designs-Move3 {
  from {
    right: -400px;
  }
  50% {
    right: -700px;
  }
  to {
    right: -400px;
  }
}
@keyframes cloud-designs-Move3 {
  from {
    right: -400px;
  }
  50% {
    right: -700px;
  }
  to {
    right: -400px;
  }
}

.slider {
  margin: 30% 0 0 0;
  padding: 500px 0 0 0;
  background-image: url("/src/img/bg-1.png");
  background-size: calc((100vw - 480px) / 800 * 8 + 12000px);
  transition: all 200ms cubic-bezier(0.25, 0.25, 0.75, 0.75) !important;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  -webkit-animation: slider-bg-fx 4s infinite linear;
          animation: slider-bg-fx 4s infinite linear;
}
@-webkit-keyframes slider-bg-fx {
  from {
    background-position: -200px 30px;
  }
  50% {
    background-position: 0 0;
  }
  to {
    background-position: -200px 30px;
  }
}
@keyframes slider-bg-fx {
  from {
    background-position: -200px 30px;
  }
  50% {
    background-position: 0 0;
  }
  to {
    background-position: -200px 30px;
  }
}
.slider__wrapper {
  margin: 0 0 250px 0;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95) !important;
}
.slider__item {
  z-index: 3;
  margin: 30px;
  height: 120px !important;
  width: 200px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95) !important;
}
.slider__item:hover {
  transform: scale(1.2) !important;
  -webkit-animation: card-halo 3s infinite ease-in-out;
          animation: card-halo 3s infinite ease-in-out;
}
@-webkit-keyframes card-halo {
  from {
    box-shadow: 0px 8px 100px rgba(255, 255, 255, 0);
  }
  15% {
    box-shadow: 0px 8px 100px rgba(255, 255, 255, 0.5);
  }
  80% {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  }
  to {
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0);
  }
}
@keyframes card-halo {
  from {
    box-shadow: 0px 8px 100px rgba(255, 255, 255, 0);
  }
  15% {
    box-shadow: 0px 8px 100px rgba(255, 255, 255, 0.5);
  }
  80% {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  }
  to {
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0);
  }
}
.slider__link-1 {
  height: 200px !important;
  width: 350px !important;
  background-image: url("https://drive.google.com/uc?export=view&id=1-tyc_XtkUswyqYHlFGXYZ6raN_fqYx6R");
  background-size: 100%;
  border-radius: 10px;
  transition: all 600ms cubic-bezier(0.25, 0.25, 0.75, 0.75) !important;
}
.slider__link-2 {
  height: 200px !important;
  width: 350px !important;
  background-image: url("https://drive.google.com/uc?export=view&id=1-t3nX4dh0ZuJ2-TQIm7L7AYz41_XGk5r");
  background-size: 100%;
  border-radius: 10px;
  transition: all 600ms cubic-bezier(0.25, 0.25, 0.75, 0.75) !important;
}
.slider__link-3 {
  height: 200px !important;
  width: 350px !important;
  background-image: url("https://drive.google.com/uc?export=view&id=1-tZT16zYOdaSTgFdoAD2LnBGhLbUph98");
  background-size: 100%;
  border-radius: 10px;
  transition: all 600ms cubic-bezier(0.25, 0.25, 0.75, 0.75) !important;
}

.about {
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url("/src/img/bg-1-1.png");
  transition: all 200ms cubic-bezier(0.25, 0.25, 0.75, 0.75) !important;
  overflow: hidden;
  -webkit-animation: about-bg-fx 15s infinite linear;
          animation: about-bg-fx 15s infinite linear;
}
@-webkit-keyframes about-bg-fx {
  from {
    background-size: calc((100vw - 480px) / 800 * 8 + 12000px);
    background-position-x: -700px;
    background-position-y: 100px;
  }
  50% {
    background-size: calc((100vw - 480px) / 800 * 8 + 10000px);
    background-position-x: 50px;
    background-position-y: 90px;
  }
  to {
    background-size: calc((100vw - 480px) / 800 * 8 + 12000px);
    background-position-x: -700px;
    background-position-y: 100px;
  }
}
@keyframes about-bg-fx {
  from {
    background-size: calc((100vw - 480px) / 800 * 8 + 12000px);
    background-position-x: -700px;
    background-position-y: 100px;
  }
  50% {
    background-size: calc((100vw - 480px) / 800 * 8 + 10000px);
    background-position-x: 50px;
    background-position-y: 90px;
  }
  to {
    background-size: calc((100vw - 480px) / 800 * 8 + 12000px);
    background-position-x: -700px;
    background-position-y: 100px;
  }
}
.about__wrapper {
  margin: 190px 0 160px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about__title {
  z-index: 3;
  margin: 30px 0 30px 0;
  text-align: center;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  text-shadow: 0px 1px 20px rgba(0, 0, 0, 0.2);
}
.about__about {
  z-index: 3;
  margin: 0px 0 0px 0;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  text-shadow: 0px 1px 20px rgba(0, 0, 0, 0.2);
}
.about__button {
  margin: 3% 0 0 80%;
}

.footer {
  width: 100%;
  z-index: 2;
}
.footer__wrapper {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: seashell;
  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
}
.footer__copyright {
  text-align: center;
  font-size: 1.1rem;
  color: rgb(82, 42, 7);
  letter-spacing: 2px;
}/*# sourceMappingURL=styles.css.map */