/* linear */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

html {
  font-family: Open Sans;
  font-size: 10px;
  line-height: 10px;
}

body {
  z-index: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.hide {
  display: none;
}

.header {
  z-index: 3;
}
.header__wrapper {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: seashell;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}
.header__link-block {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__link {
  margin: 0 25px 0 25px;
  max-width: 150px;
  text-align: center;
  font-size: calc((100vw - 480px) / 1440 * 8 + 12px);
  line-height: 1.5rem;
  color: rgb(82, 42, 7);
  letter-spacing: 1px;
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95) !important;
}
.header__link:hover {
  transform: scale(1.2);
}

.button {
  z-index: 3;
  margin: 300px 0 0 0;
  width: 90px;
  height: 90px;
  text-align: center;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  text-shadow: 0px 1px 20px rgba(0, 0, 0, 0.2);
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 60px;
  background: rgba(255, 250, 232, 0.9);
  transition: all 200ms cubic-bezier(0.25, 0.25, 0.75, 0.75) !important;
  -webkit-animation: shadow 2s infinite ease-in-out;
          animation: shadow 2s infinite ease-in-out;
}
@-webkit-keyframes shadow {
  from {
    box-shadow: 0px 5px 80px #ffd465;
  }
  50% {
    box-shadow: 0px 5px 50px #ffbd9c;
  }
  to {
    box-shadow: 0px 5px 80px #ffd465;
  }
}
@keyframes shadow {
  from {
    box-shadow: 0px 5px 80px #ffd465;
  }
  50% {
    box-shadow: 0px 5px 50px #ffbd9c;
  }
  to {
    box-shadow: 0px 5px 80px #ffd465;
  }
}
.button:hover {
  transform: scale3d(1.2, 1.2, 1.5);
}

.clouds {
  position: relative;
  z-index: 3;
}

.cloud-1 {
  z-index: 1;
  position: absolute;
  top: 50px;
  right: 400px;
  scale: 0.5;
  transition: all 100ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -webkit-animation: cloud-1-Move 70s infinite linear;
          animation: cloud-1-Move 70s infinite linear;
}
@-webkit-keyframes cloud-1-Move {
  from {
    right: 700px;
  }
  50% {
    right: 500px;
  }
  to {
    right: 700px;
  }
}
@keyframes cloud-1-Move {
  from {
    right: 700px;
  }
  50% {
    right: 500px;
  }
  to {
    right: 700px;
  }
}

.cloud-2 {
  z-index: 1;
  position: absolute;
  top: 0px;
  right: 400px;
  scale: 0.6;
  transition: all 100ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -webkit-animation: cloud-2-Move 70s infinite linear;
          animation: cloud-2-Move 70s infinite linear;
}
@-webkit-keyframes cloud-2-Move {
  from {
    right: -100px;
  }
  50% {
    right: -200px;
  }
  to {
    right: -100px;
  }
}
@keyframes cloud-2-Move {
  from {
    right: -100px;
  }
  50% {
    right: -200px;
  }
  to {
    right: -100px;
  }
}

.cloud-3 {
  z-index: 1;
  position: absolute;
  top: 0px;
  right: 400px;
  scale: 0.5;
  transition: all 100ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -webkit-animation: cloud-3-Move 70s infinite linear;
          animation: cloud-3-Move 70s infinite linear;
}
@-webkit-keyframes cloud-3-Move {
  from {
    right: -700px;
  }
  50% {
    right: -500px;
  }
  to {
    right: -700px;
  }
}
@keyframes cloud-3-Move {
  from {
    right: -700px;
  }
  50% {
    right: -500px;
  }
  to {
    right: -700px;
  }
}

.cloud-4 {
  z-index: 1;
  position: absolute;
  top: 50px;
  right: 400px;
  scale: 0.8;
  transition: all 100ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -webkit-animation: cloud-4-Move 70s infinite linear;
          animation: cloud-4-Move 70s infinite linear;
}
@-webkit-keyframes cloud-4-Move {
  from {
    right: -600px;
  }
  50% {
    right: -500px;
  }
  to {
    right: -600px;
  }
}
@keyframes cloud-4-Move {
  from {
    right: -600px;
  }
  50% {
    right: -500px;
  }
  to {
    right: -600px;
  }
}

.cloud-5 {
  z-index: 1;
  position: absolute;
  top: 0px;
  right: 400px;
  scale: 1;
  transition: all 100ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -webkit-animation: cloud-5-Move 70s infinite linear;
          animation: cloud-5-Move 70s infinite linear;
}
@-webkit-keyframes cloud-5-Move {
  from {
    right: 300px;
  }
  50% {
    right: 350px;
  }
  to {
    right: 300px;
  }
}
@keyframes cloud-5-Move {
  from {
    right: 300px;
  }
  50% {
    right: 350px;
  }
  to {
    right: 300px;
  }
}

.cloud-6 {
  z-index: 1;
  position: absolute;
  top: 40px;
  right: 400px;
  scale: 0.7;
  transition: all 100ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -webkit-animation: cloud-6-Move 70s infinite linear;
          animation: cloud-6-Move 70s infinite linear;
}
@-webkit-keyframes cloud-6-Move {
  from {
    right: -600px;
  }
  50% {
    right: -500px;
  }
  to {
    right: -600px;
  }
}
@keyframes cloud-6-Move {
  from {
    right: -600px;
  }
  50% {
    right: -500px;
  }
  to {
    right: -600px;
  }
}

.cloud-7 {
  z-index: 1;
  position: absolute;
  top: 10px;
  right: 400px;
  scale: 0.7;
  transition: all 100ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -webkit-animation: cloud-7-Move 70s infinite linear;
          animation: cloud-7-Move 70s infinite linear;
}
@-webkit-keyframes cloud-7-Move {
  from {
    right: 600px;
  }
  50% {
    right: 550px;
  }
  to {
    right: 600px;
  }
}
@keyframes cloud-7-Move {
  from {
    right: 600px;
  }
  50% {
    right: 550px;
  }
  to {
    right: 600px;
  }
}

.cloud-8 {
  z-index: 0;
  position: absolute;
  top: 0px;
  right: 400px;
  scale: 0.6;
  transition: all 100ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -webkit-animation: cloud-8-Move 70s infinite linear;
          animation: cloud-8-Move 70s infinite linear;
}
@-webkit-keyframes cloud-8-Move {
  from {
    right: 100px;
  }
  50% {
    right: 200px;
  }
  to {
    right: 100px;
  }
}
@keyframes cloud-8-Move {
  from {
    right: 100px;
  }
  50% {
    right: 200px;
  }
  to {
    right: 100px;
  }
}

.main-container {
  z-index: 0;
  background-image: url("/src/img/bg-1.png");
  background-position-x: -100px;
  background-size: calc((100vw - 480px) / 800 * 8 + 3500px);
  transition: all 200ms cubic-bezier(0.25, 0.25, 0.75, 0.75) !important;
  overflow: hidden;
}
.main-container__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.main-container__title {
  margin: 0 0 250px 0;
  text-align: center;
  font-size: 4rem;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  text-shadow: 0px 1px 20px rgba(0, 0, 0, 0.2);
}

.slider {
  margin: 30% 0 0 0;
  padding: 300px 0 0 0;
  background-image: url("/src/img/bg-1.png");
  background-size: calc((100vw - 480px) / 800 * 8 + 3800px);
  transition: all 200ms cubic-bezier(0.25, 0.25, 0.75, 0.75) !important;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  -webkit-animation: slider-bg-fx 3s infinite linear;
          animation: slider-bg-fx 3s infinite linear;
}
@-webkit-keyframes slider-bg-fx {
  from {
    background-position: -200px 30px;
  }
  50% {
    background-position: 0 0;
  }
  to {
    background-position: -200px 30px;
  }
}
@keyframes slider-bg-fx {
  from {
    background-position: -200px 30px;
  }
  50% {
    background-position: 0 0;
  }
  to {
    background-position: -200px 30px;
  }
}
.slider__wrapper {
  margin: 0 0 230px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95) !important !important;
}
.slider__item {
  z-index: 2;
  margin: 30px;
  height: 200px !important;
  width: 350px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95) !important;
}
.slider__item:hover {
  transform: scale(1.2);
  box-shadow: 2px 2px 300px rgba(255, 192, 150, 0.8);
}
.slider__link-1 {
  height: 200px !important;
  width: 350px !important;
  background-image: url("https://drive.google.com/uc?export=view&id=1-tyc_XtkUswyqYHlFGXYZ6raN_fqYx6R");
  background-size: 100%;
  border-radius: 10px;
  transition: all 600ms cubic-bezier(0.25, 0.25, 0.75, 0.75) !important;
}
.slider__link-2 {
  height: 200px !important;
  width: 350px !important;
  background-image: url("https://drive.google.com/uc?export=view&id=1-t3nX4dh0ZuJ2-TQIm7L7AYz41_XGk5r");
  background-size: 100%;
  border-radius: 10px;
  transition: all 600ms cubic-bezier(0.25, 0.25, 0.75, 0.75) !important;
}
.slider__link-3 {
  height: 200px !important;
  width: 350px !important;
  background-image: url("https://drive.google.com/uc?export=view&id=1-tZT16zYOdaSTgFdoAD2LnBGhLbUph98");
  background-size: 100%;
  border-radius: 10px;
  transition: all 600ms cubic-bezier(0.25, 0.25, 0.75, 0.75) !important;
}

.slider2 {
  width: 100%;
  margin-top: -300px;
  transition: all 600ms cubic-bezier(0.25, 0.25, 0.75, 0.75) !important;
}
.slider2__wrapper {
  width: 100%;
  height: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(/src/img/bg.png);
  background-size: cover;
  background-position-x: 50%;
}

.footer {
  width: 100%;
  z-index: 2;
}
.footer__wrapper {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: seashell;
  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
}
.footer__copyright {
  text-align: center;
  font-size: calc((100vw - 480px) / 800 * 8 + 7px);
  color: rgb(82, 42, 7);
  letter-spacing: 2px;
}/*# sourceMappingURL=styles.css.map */