


.button-1 {

    margin: 40px 0 0 0;
    
    z-index: 4;
    width: 90px;
    height: 90px;

    border: none;
    outline: none;
    color: #fff;
    background: #fffae8;
    cursor: pointer;
    position: relative;
    border-radius: 60px;




    transition: $transition2;

    animation: shadow 2s infinite ease-in-out;
    @keyframes shadow {
                from {box-shadow: 0px 8px 90px rgba($color: #ffffff, $alpha: 0.1) ;}
                15% {box-shadow: 2px 2px 60px rgba($color: #ffffff, $alpha: 1) ;}
                95% {box-shadow: 0px 5px 50px rgba($color: #5e370b, $alpha: 0.3) ;}
                to {box-shadow: 0px 8px 90px rgba($color: #ffffff, $alpha: 0) ;}
    }

    &:hover{
        

        animation: button-scale 1s infinite ease-in-out;
        @keyframes button-scale {
            0% { transform: scale(1.1);}
            50% { transform: scale(1);  }
            100% { transform: scale(1.1);  }
        }

    }


    &:before {
        content: '';
        background: linear-gradient(45deg, #ff7676, #ffb579,  #bf84ff, #ff85e5, #ff7d7d);
        position: absolute;
        top: 0px;
        left:0px;
        background-size: 400%;
        z-index: 4;
        filter: blur(2px);
        width: 86px;
        height: 86px;
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 60px;
    }
    &:active {
        color: rgb(255, 255, 255)
        
    }
    &:active:after {
        
        background: #fffae8;
    }


    &:hover:before {
        
        
        opacity: 1;
    }
    &:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 90px;
    height: 90px;
        background: #fffae8;
        left: 0;
        top: 0;
        border-radius: 60px;
    }

    @keyframes glowing {
        0% { background-position: 0 0; }
        50% { background-position: 400% 0; }
        100% { background-position: 0 0; }
    }
    


}



