.clouds-designs{
        
    $anim-speed-1: 40s;

        &__cloud-1{
            z-index: 1;

            position: absolute;
            margin: 5% 0 70% 0;
        
        
            scale: 0.15;
           
        
        
            transition: $transition5;
        
            animation: cloud-designs-Move1 $anim-speed-1 infinite linear;
            @keyframes cloud-designs-Move1 {
                from {right: 300px; }
                50% {right: 200px;}
                to {right: 300px; }
            }
        
        
        }
        
        &__cloud-2{
            z-index: 1;
        
            position: absolute;
            margin: 5% 0 10% 0;
        
            scale: 0.6;
           
        
        
            transition: $transition5;
        
            animation: cloud-designs-Move2 $anim-speed-1 infinite linear;
            @keyframes cloud-designs-Move2 {
                from {right: 1200px; }
                50% {right: 1100px;}
                to {right: 1200px; }
            }
        
        
        }

        &__cloud-3{
            z-index: 1;
        
            position: absolute;
            
        
            scale: 0.4;
           
        
        
            transition: $transition5;
        
            animation: cloud-designs-Move3 $anim-speed-1 infinite linear;
            @keyframes cloud-designs-Move3 {
                from {right: -100px; }
                50% {right: -200px;}
                to {right: -100px; }
            }
        
        
        }
        
    
    }
    


