.clouds{

    position: relative;
    z-index: 3;
    filter: brightness(0.97);

}


$scale3D-low: scale3d(0.9, 0.9, 0.9);
$scale3D-hi: scale3d(1.2, 1.2, 1.2);

.cloud-1{
    z-index: 1;

    position: absolute;
    top: 50px;
    right: 700px;

    
    scale: 0.5;


    transition: $transition5;
    
    animation: cloud-1-Move 30s infinite linear;
    @keyframes cloud-1-Move {
        from {transform:$scale3D-low;}
        50% { transform:$scale3D-hi;}
        to { transform:$scale3D-low;}
    }
    
}

.cloud-2{
    z-index: 1;

    position: absolute;
    top: 0px;
    right: -100px;

    scale: 0.6;
   


    transition: $transition5;

    animation: cloud-2-Move 30s infinite linear;
    // @keyframes cloud-2-Move {
    //     from {right: -100px; transform:scale(1);}
    //     50% {right: -200px;transform:scale(1.1); }
    //     to {right: -100px; transform:scale(1);}
    // }
    @keyframes cloud-2-Move {
        from {transform:$scale3D-low;}
        50% { transform:$scale3D-hi;}
        to { transform:$scale3D-low;}
    }
    

}

.cloud-3{
    z-index: 1;

    position: absolute;
    top: 0px;
    right: -700px;

    
    scale: 0.5;


    transition: $transition5;

    animation: cloud-3-Move 30s infinite linear;
    // @keyframes cloud-3-Move {
    //     from {right: -700px; transform:scale(1);}
    //     50% {right: -500px; transform:scale(1.1);}
    //     to {right: -700px; transform:scale(1);}
    // }
    @keyframes cloud-3-Move {
        from {transform:$scale3D-low;}
        50% { transform:$scale3D-hi;}
        to { transform:$scale3D-low;}
    }
    

}

.cloud-4{
    z-index: 1;

    position: absolute;
    top: 50px;
    right: -600px;

    
    scale: 0.8;


    transition: $transition5;

    animation: cloud-4-Move 30s infinite linear;
    // @keyframes cloud-4-Move {
    //     from {right: -600px; transform:scale(1);}
    //     50% {right: -500px; transform:scale(1.1);}
    //     to {right: -600px;transform:scale(1); }
    // }
    @keyframes cloud-4-Move {
        from {transform:$scale3D-low;}
        50% { transform:$scale3D-hi;}
        to { transform:$scale3D-low;}
    }
    

}

.cloud-5{
    z-index: 1;

    position: absolute;
    top: 0px;
    right: 300px;

    
    scale: 1;


    transition: $transition5;
    
    animation: cloud-5-Move 30s infinite linear;
    // @keyframes cloud-5-Move {
    //     from {right: 300px; transform:scale(1);}
    //     50% {right: 350px; transform:scale(1.1);}
    //     to {right: 300px; transform:scale(1);}
    // }

    @keyframes cloud-5-Move {
        from {transform:$scale3D-low;}
        50% { transform:$scale3D-hi;}
        to { transform:$scale3D-low;}
    }
    
    
}

.cloud-6{
    z-index: 1;

    position: absolute;
    top: 40px;
    right: -600px;

    
    scale: 0.7;


    transition: $transition5;

    animation: cloud-6-Move 30s infinite linear;
    // @keyframes cloud-6-Move {
    //     from {right: -600px; transform:scale(1);}
    //     50% {right: -500px; transform:scale(1.1);}
    //     to {right: -600px; transform:scale(1);}
    // }

    @keyframes cloud-6-Move {
        from {transform:$scale3D-low;}
        50% { transform:$scale3D-hi;}
        to { transform:$scale3D-low;}
    }
    
    
}


.cloud-7{
    z-index: 1;

    position: absolute;
    top: 20px;
    right: 700px;

    
    scale: 0.7;
    


    transition: $transition5;

    animation: cloud-7-Move 30s infinite linear;
    // @keyframes cloud-7-Move {
    //     from {right: 700px; transform:scale(1);}
    //     50% {right: 650px; transform:scale(1.1);}
    //     to {right: 700px; transform:scale(1);}
    // }

    @keyframes cloud-7-Move {
        from {transform:$scale3D-low;}
        50% { transform:$scale3D-hi;}
        to { transform:$scale3D-low;}
    }
    
    
}

.cloud-8{
    z-index: 0;

    position: absolute;
    top: 0px;
    right: 100px;

    scale: 0.6;
   


    transition: $transition5;

    animation: cloud-8-Move 30s infinite linear;
    // @keyframes cloud-8-Move {
    //     from {right: 100px; transform:scale(1);}
    //     50% {right: 200px; transform:scale(1.1);}
    //     to {right: 100px; transform:scale(1);}
    // }
    
    @keyframes cloud-8-Move {
        from {transform:$scale3D-low;}
        50% { transform:$scale3D-hi;}
        to { transform:$scale3D-low;}
    }
    
}

.cloud-9{
    z-index: 1;

    position: absolute;
    top: 0px;
    right: 900px;

    scale: 0.6;
   


    transition: $transition5;

    animation: cloud-9-Move 30s infinite linear;
    // @keyframes cloud-9-Move {
    //     from {right: 900px; transform:scale(1);}
    //     50% {right: 850px; transform:scale(1.1);}
    //     to {right: 900px; transform:scale(1);}
    // }
    

    @keyframes cloud-9-Move {
        from {transform:$scale3D-low;}
        50% { transform:$scale3D-hi;}
        to { transform:$scale3D-low;}
    }
    
}

