
.footer {

    width: 100%;
    z-index: 2;

    &__wrapper {
        
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;

        background: rgba($color: seashell, $alpha: 1);

        box-shadow: 0px -3px 10px rgba($color: #00000099, $alpha: 0.1) ;
        

    }

    &__copyright{    
        
        text-align: center;
        font-size: 1.7rem;
        color: $title-color-2;
        letter-spacing: 2px;
    }
}
