$title-color-1: seashell;
$title-color-2: rgb(82, 42, 7);
$title-color-3: rgb(255, 255, 255);

$transition:all 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950) !important;
$transition2:all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750)  !important;
$transition3:all 600ms cubic-bezier(0.250, 0.250, 0.750, 0.750)  !important;
$transition4:all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) !important;
$transition5:all 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */







// @media (max-width: 1440px) {
    
//     .header__wrapper {height: 50px !important;} 
//     .header__link {transform: scale(0.8);} 

//     .main-container__title-1 {transform: scale(0.5)!important;}  // GO
//     .clouds {margin: 0 0 25% 0;}
    

//     .slider {margin: 12% 0 0 0 !important;}
//     .main-container__title {transform: scale(0.4)!important;}                      // DESIGNS
//     .slider__item {transform: scale(0.6)!important;  margin-bottom: 0 !important;}  // CARD
//     .button-about {margin-top: 25% !important;}                    // TO ABOUT

//     .about__wrapper{margin: 250px 0 0 0;}
//     .about__title {transform: scale(0.4)!important;}    // ABOUT TITLE
//        // TO TOP

//     .footer__wrapper {height: 50px ;}
//     .footer__copyright{transform: scale(0.8);}
// }


// @media (max-width: 1280px) {

//     .header__wrapper {height: 50px !important;} 
//     .header__link {transform: scale(0.8);} 

//     .main-container__title-1 {transform: scale(0.5)!important;}  // GO
//     .def-button {transform: scale(0.5)!important;}              // SUN
//     .clouds {margin: 0 0 25% 0;}
    

//     .slider {margin: 12% 0 0 0 !important;}
//     .main-container__title {transform: scale(0.4)!important;}                      // DESIGNS
//     .slider__item {transform: scale(0.6)!important;  margin-bottom: 0 !important;}  // CARD
//     .button-about {margin-top: 25% !important;}                    // TO ABOUT

//     .about__wrapper{margin: 250px 0 0 0;}
//     .about__title {transform: scale(0.4)!important;}    // ABOUT TITLE
//        // TO TOP

//     .footer__wrapper {height: 50px ;}
//     .footer__copyright{transform: scale(0.8);}

//   }


// @media (max-width: 600px) {
//     .slider__item {transform: scale(0.6)!important;} 
//     .main-container__title {transform: scale(0.4)!important;} 
//     .def-button {transform: scale(0.5)!important;} 
//   }


// @media (max-width: 400px) {
//     .slider__item {margin-right: 250px !important;} 
//     .main-container__title {margin-left: 150px !important;} 
//     .def-button {transform: scale(0.4)!important;} 
//   }












.main-container {
   
    transition: $transition4;
    
    
    &__wrapper {}
    &__title-1{}
    &__title{}

    

    
    
}

