.main-container {
    z-index: 0;
    
    
    // background-image: url('https://drive.google.com/uc?export=view&id=1-tAmDY4L4izaSg8CvB3W8ORWshGgMYUI');
    background-image: url('/src/img/bg-1.png');
    
    
    
    
    
    
    
    
    
    transition: $transition4;
    overflow: hidden;
    
    animation: main-bg-fx 25s infinite linear ;
    @keyframes main-bg-fx {
        from {background-size:calc( (100vw - 480px)/(1280 - 480) * (24 - 16) + 6000px); background-position-x: -700px; background-position-y: -100px;}
        50% {background-size:calc( (100vw - 480px)/(1280 - 480) * (24 - 16) + 5000px); background-position-x: 50px;background-position-y: 50px;}
        to {background-size:calc( (100vw - 480px)/(1280 - 480) * (24 - 16) + 6000px); background-position-x: -700px;background-position-y: -100px;}
    }
    
    
    &__wrapper {
        
        
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        
        overflow: hidden;
        
    }
    
    &__title-1{
        
        margin: 200px 0 0 0;
        
        text-align: center;
        font-size: 4rem;
        
        color: $title-color-3;
        letter-spacing: 2px;
        
        text-shadow: 0px 1px 20px rgba($color: #000000, $alpha: 0.2 );
    }

    &__title{
        
        margin: 0 0 250px 0;
        
        text-align: center;
        font-size: 4rem;
        
        color: $title-color-3;
        letter-spacing: 2px;
        
        text-shadow: 0px 1px 20px rgba($color: #000000, $alpha: 0.2 );
    }
    
}

.slider{
    
    
    margin: 30% 0 0 0 ;
    padding: 500px 0 0 0;
    
    

    background-image: url('/src/img/bg-1.png');
    
    background-size:calc( (100vw - 480px)/(1280 - 480) * (24 - 16) + 3800px);
    
    
    transition: $transition4;
    overflow: hidden;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    overflow: visible;

   
    animation: slider-bg-fx 4s infinite linear ;
    @keyframes slider-bg-fx {
        from {background-position: -200px 30px; }
        50% {background-position: 0 0}
        to {background-position: -200px 30px}
    }


    
    
    &__wrapper{
        
        margin: 0 0 230px 0;
        
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        
        transition: $transition !important;

        

       
        
        
        
    }
    
    
    &__item{
        
        z-index: 2;
        
        margin: 30px;
    
        height: 200px !important;
        width: 350px !important;

    

        display: flex;
        justify-content: center;
        align-items: center;

        

        overflow: hidden;
        border-radius: 10px;

        box-shadow: 0px 1px 20px rgba($color: #000000, $alpha: 0.1 );

        transition: $transition;


        &:hover{
            
            transform: scale(1.2);
           
            animation: card-halo 2s infinite ease-in-out;

            @keyframes card-halo {
                
                
                
                
                from {box-shadow: 0px 8px 90px rgba($color: #ffffff, $alpha: 0) ;}
                15% {box-shadow: 0px 8px 100px rgba($color: #ffffff, $alpha: 0.5) ;}
                to {box-shadow: 0px 5px 50px rgba($color: #4a4a4a, $alpha: 0.4) ;}
            }
            
        }
    
    }


    &__link-1{


        height: 200px !important;
        width: 350px !important;

        background-image: url('https://drive.google.com/uc?export=view&id=1-tyc_XtkUswyqYHlFGXYZ6raN_fqYx6R');
        background-size: 100%;

        border-radius: 10px;

        transition: $transition3;

       
        
        
    }
    
    &__link-2{


        height: 200px !important;
        width: 350px !important;

        background-image: url('https://drive.google.com/uc?export=view&id=1-t3nX4dh0ZuJ2-TQIm7L7AYz41_XGk5r');
        background-size: 100%;

        border-radius: 10px;

        transition: $transition3;

        
        
        
    }

    &__link-3{


        height: 200px !important;
        width: 350px !important;

        background-image: url('https://drive.google.com/uc?export=view&id=1-tZT16zYOdaSTgFdoAD2LnBGhLbUph98');
        background-size: 100%;

        border-radius: 10px;

        transition: $transition3;

       
        
        
    }

   
}
