.main-container {
    z-index: 0;
    
    display: flex;
    flex-direction: column;

    background-image: url('https://drive.google.com/uc?export=view&id=1-tAmDY4L4izaSg8CvB3W8ORWshGgMYUI');
    background-position-x: -100px;
    
    background-size:calc( (100vw - 480px)/(1280 - 480) * (24 - 16) + 3000px);
    

    transition: $transition4;
    
    
    &__wrapper {
        

        
        
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        
overflow: hidden;
        
    }

    &__title{
        
        margin: 150px 0 0 0;

        text-align: center;
        font-size: 4rem;
        color: $title-color-3;
        letter-spacing: 2px;
        
        text-shadow: 0px 1px 20px rgba($color: #000000, $alpha: 0.2 );
    }
    
}

.slider{
    
    
    margin: 150px 0 150px 0 ;
    
    height: 550px;
    width: 100%;
    
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
    overflow: visible;
    
    &__wrapper{

        height: 550px;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        transition: $transition !important;
        
    }
    
    
    &__item{
        
        z-index: 2;
        
        margin: 30px;
    
        height: 200px !important;
        width: 350px !important;

        display: flex;
        justify-content: center;
        align-items: center;

        

        overflow: hidden;
        border-radius: 10px;

        box-shadow: 0px 1px 20px rgba($color: #000000, $alpha: 0.1 );

        transition: $transition;


        &:hover{
            transform: scale(1.2);
            // box-shadow: 0px 20px 15px rgba($color: #000000, $alpha: 0.4 );
            box-shadow: 2px 2px 300px rgba($color: #ffc096, $alpha: 0.8);
            
        }
    }


    &__link-1{


        height: 200px !important;
        width: 350px !important;

        background-image: url('https://drive.google.com/uc?export=view&id=1-tyc_XtkUswyqYHlFGXYZ6raN_fqYx6R');
        background-size: 200%;

        border-radius: 10px;

        transition: $transition3;

        &:hover{
            background-size: 110%;
            
        }
        
        
    }
    
    &__link-2{


        height: 200px !important;
        width: 350px !important;

        background-image: url('https://drive.google.com/uc?export=view&id=1-t3nX4dh0ZuJ2-TQIm7L7AYz41_XGk5r');
        background-size: 200%;

        border-radius: 10px;

        transition: $transition3;

        &:hover{
            background-size: 110%;
            
        }
        
        
    }

    &__link-3{


        height: 200px !important;
        width: 350px !important;

        background-image: url('https://drive.google.com/uc?export=view&id=1-tZT16zYOdaSTgFdoAD2LnBGhLbUph98');
        background-size: 200%;

        border-radius: 10px;

        transition: $transition3;

        &:hover{
            background-size: 110%;
            
        }
        
        
    }

   
}
