.slider{
    
    
   
    

    
    
    
    
    transition: $transition4;
  
    
    
    
    


   
    

    
    
    &__wrapper{
        
        margin: 0 0 20px 0;
        
        max-width: 600px;
        
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        
        transition: $transition;

        

       
        overflow: hidden;
        
        
    }
    
    
    &__item{

       
        
        
        
    
        

        


       

        

        

        overflow: hidden;
       

        transition: $transition;

        


        
    
    }


    &__link-1{

        


        height: 200px !important;
        width: 350px !important;

       

        
        border-radius: 10px;

        transition: $transition3;

       
        
        
    }

  
    
    &__link-2{
       

       


       
       
        border-radius: 10px;

        transition: $transition3;

        
        
        
    }

    &__link-3{



       

        border-radius: 10px;

        transition: $transition3;

       
        
        
    }

   
}
